<mat-card class="info-card">
  
  <mat-card-header>
    <mat-card-title>{{ 'Alex Mercer' }}</mat-card-title>
    <mat-card-subtitle>{{ 'Software Engineer' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ 'I am  a passionate and dedicated software engineer with a love for problem-solving and technology. With a strong foundation in computer science, I have honed my skills in various programming languages and frameworks. I thrive in a team environment and am always eager to learn new skills and technologies to create innovative solutions. I believe in the power of technology to make a positive impact on society and strive to contribute to this through my work.' | translate }}</p>
  </mat-card-content>
</mat-card>
  