<div id="site" [style.backgroundColor]="currentColor">
    <mat-toolbar class="toolbar">
        <a mat-button routerLink="/zainteresowania">{{"Interests" | translate}}</a>
        <a mat-button routerLink="/doswiadczenie">{{"Experience" | translate}}</a>
        <a mat-button routerLink="/edukacja">{{"Education" | translate}}</a>
        <div>
            <button mat-button (click)="changeLanguage('pl')">Polski</button>
            <button mat-button (click)="changeLanguage('en')">English</button>
        </div>
        <app-kolor/>
        
    </mat-toolbar>
    <main class="main">
        <div class="left-section">
            <div class="left-section-top">
                <div mat-card-avatar class="profile"></div>
                <app-opis/>
            </div>
            <div class="left-section-bot">
                <app-kontakt/>
            </div>
        </div>
        <div class="right-section">
            
            <router-outlet />
        </div>
    
    </main>
</div>

